
~\$Software Quality Recipes for Legacy\.pptx

\.vs/

SoftwareQualityTalk\.v3\.ncrunchsolution\.user

SoftwareQualityTalk/obj/

MattEland\.SoftwareQualityTalk\.Tests/obj/

_NCrunch_SoftwareQualityTalk/SoftwareQualityTalk\.crunchsolution\.cache

_NCrunch_SoftwareQualityTalk/SoftwareQualityTalk\.executiontimes\.cache

MattEland\.SoftwareQualityTalk\.Tests/bin/

SoftwareQualityTalk/bin/

SoftwareQualityTalk/ResumeData\.mdf

SoftwareQualityTalk/ResumeData_log\.ldf

MattEland\.SoftwareQualityTalk\.ConsoleApp/bin/

MattEland\.SoftwareQualityTalk\.ConsoleApp/obj/

MattEland.SoftwareQualityTalk.Tests/NUnitSample.cs

.idea/

MattEland.SoftwareQualityTalk.SpecFlow/bin/

MattEland.SoftwareQualityTalk.SpecFlow/obj/

*.user

WebTesting/bin/

WebTesting/obj/

~$Big Ball of Mud.pptx
